*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html, body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

#navbar{
    background-color: rgb(182, 182, 182);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
}

.navlinks a{
    color: rgb(255, 255, 255);
    margin: 0 20px;
}

.request{
    background-color: rgb(43, 226, 83);
    padding: 10px 20px;
    border-radius: 50px;
}

#hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
}
.heroimg{
    width: 40%;
}

#hero div{
    width: 40%;
}

.heroh1 {
    font-size: 60px;
}
.herop{
    font-size: 20px;
    margin: 20px 0 30px;
}

#about{
    padding: 40px 70px 120px;
    background-color: rgb(241, 241, 241);
}

.abouticon{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 50px 0 0px;
    gap: 30px;
}

#about div h1{
    margin-top: 30px;
}

.abouth1{
    font-size: 60px;
    padding: 30px 0;
}

.aboutheader{
    width: 47%;
    font-size: 20px;
}

.abouticon h1{
    margin-bottom: 20px;
}

#articles{
    padding: 20px 70px; 
    margin-top: 150px;
}

.articlewrt{
    font-size: 30px;
}

.articleicons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 50px 0 0px;
    gap: 30px;
}

.articleimg{
    width: 100%;
}

.articleicons div p{
    margin: 20px 0 20px;
}

.articleDiv{
    box-shadow: 5px 5px 10px rgb(197, 197, 197);
}

.articleDiv div{
    padding: 0 16px;
}

#bottom{
    background-color: rgb(15, 15, 67);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0;
    color: white;
    padding: 50px 40px 20px;
}


.icon a{
    color: white;

}

.blog{
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px 0 20px;
    gap: 80px;
}

.bottomimg{
    padding: 0 0 50px;
    filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg);
}

.blog a{
    color: #fff;
}

.blog1, .blog2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.blog p{
    margin: 10px;
}

.easy a{
    margin: 20px 10px 50px;
}

.easy p{
    padding: 30px 0 20px;
}

@media screen and (max-width:992px) {
    #navbar{
        padding:20px 50px;
    }

    #hero, #about, #articles{
        padding: 40px 30px;
    }

    .heroh1, .abouth1{
        font-size: 40px;
    }

    .firstImg{
        height: 24%;
    }
}

@media screen and (max-width:768px) {
    #navbar{
        padding:10px 30px;
    }

    .heroh1,.aboutheader h1, .articlewrt h1{
        font-size: 27px;
    }

    .herop, .aboutheader p, .abouticon p{
        font-size: 15px;
    }

    .request{
        border-radius: 30px;
    }

    
    .abouticon{
        grid-template-columns: repeat(2, 1fr);
    }

    .abouticon h1{
        font-size: 20px;
    }

    #articles{
        margin-top: 20px;
    }

    .articleDiv h1{
        font-size: 20px;
    }

    .articleDiv p:first-child{
        font-size: 12px;
        margin: 15px 0 15px;
    }

    .articleDiv p:second-child{
        font-size: 16px;
        margin: 10px 0 10px;
    }

    .articleicons{
        grid-template-columns: repeat(2, 1fr);
        margin: 20px 0 0;

    }

    .firstImg{
        height: 40%;
    }

    #bottom{
        padding: 50px 20px 20px;
    }
}

@media screen and (max-width:576px) {
    #hero{
        flex-direction: column-reverse;
    }

    .heroimg, #hero div{
        width: 90%;
        text-align: center;
    }
    .aboutheader{
        width: 75%;
    }

    .articleicons{
        grid-template-columns: 1fr;
    }

    .articleDiv{
        width: 65%;
        margin: 5px auto;
    }

    .easy, .bottomLogo{
        text-align: center;
    }

    #bottom{
        flex-direction: column;
    }

    .blog{
        place-content: center;
        place-items: center;
        margin: 50px auto;
    }
}

@media screen and (max-width:480px) {


    .aboutheader{
        width: 90%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .abouticon{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .articleDiv{
        width: 80%;
    }
}

@media screen and (max-width:375px) {
    .articleicons{
        width: 100%;
    }

    .firstImg{
        height: 30%;
    }

    .blog{
       grid-template-columns: 1fr;
       gap: 10px;
    }

    .blog1, .blog2{
        align-items: center; 
    }

    #hero, #about, #articles{
        padding: 30px 7px;
    }
    
}