*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}

#navbar{
    background-color: rgb(182, 182, 182);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
}

.navlinks a{
    color: rgb(255, 255, 255);
    margin: 0 20px;
}

.request{
    background-color: rgb(43, 226, 83);
    padding: 10px 20px;
    border-radius: 50px;
}

#hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
}
.heroimg{
    width: 40%;
}

#hero div{
    width: 40%;
}

.heroh1 {
    font-size: 60px;
}
.herop{
    font-size: 20px;
    margin: 20px 0 30px;
}

#about{
    padding: 20px 70px;
}

.abouticon{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 50px 0 0px;
    gap: 30px;
}

#about div h1{
    margin-top: 30px;
}

.abouth1{
    font-size: 60px;
    padding: 30px 0;
}

.aboutheader{
    width: 47%;
    font-size: 20px;
}

.abouticon h1{
    margin-bottom: 20px;
}

#articles{
    padding: 20px 70px; 
    margin-top: 150px;
}

.articlewrt{
    font-size: 30px;
}

.articleicons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 50px 0 0px;
    gap: 30px;
}

.articleimg{
    width: 100%;
}

.articleicons div p{
    margin: 20px 0 20px;
}

.articleDiv{
    box-shadow: 5px 5px 10px rgb(197, 197, 197);
}

.articleDiv div{
    padding: 0 16px;
}

#bottom{
    background-color: rgb(15, 15, 67);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0;
    color: white;
    padding: 50px 40px 20px;
}


.icon a{
    color: white;

}

.blog{
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px 0 20px;
    gap: 80px;
}

.bottomimg{
    padding: 0 0 50px;
}

.blog1{
    /* padding-right: 120px; */
}

.blog p{
    margin: 10px;
}

.easy a{
    margin: 20px 10px 50px;
}

.easy p{
    padding: 30px 0 20px;
}